<div class="main-post">
  <div class="row">
    <div class="col pic-col">
      <img class="profile-pic" src="../../assets/img/alice_eve_1.jpe" alt="Alice Eve"/>
    </div>
    <div class="col user-info">
      <div class="row">
        <div class="name">{{ person.name }}</div>
        <div class="rating">{{ person.ratingMain }}</div>
      </div>
      <div class="row description">The other man in my life...</div>
    </div>
  </div>
  <div class="row pic-comments">
    <div class="col images">
      <div class="row">
        <div class="col first">
          <img src="../../assets/img/alice_eve_3.JPG" alt="Alice Eve"/>
        </div>
        <div class="col next">
          <img src="../../assets/img/alice_eve_2.jpg" alt="Alice Eve"/>
          <img src="../../assets/img/alice_eve_4.jpg" alt="Alice Eve"/>
        </div>
      </div>
      <div class="row tagged">
      </div>
    </div>
    <div class="col ratings">
      <div class="row rated">
        <img class="black-star" src="../../assets/img/star.png" alt="Alice Eve"/>
        <div class="num-rated"><i><b>23 People</b> rated your picture</i></div>
      </div>
      <div class="row recently-rated">
        <div class="col pic-col">
          <img class="profile-pic" src="../../assets/img/alice_eve_1.jpe" alt="Alice Eve"/>
        </div>
        <div class="col user-info">
          <div class="row">
            <div class="name"><b>Sara Blestow</b></div>
          </div>
          <div class="row rating">4.8</div>
          <div class="row stars">
            <img *ngFor="let i of [0,1,2,3,4]" class="pink-star" src="../../assets/img/star-pink.png" alt="Alice Eve"/>
          </div>
        </div>
      </div>
      <div class="row comments">
        <div class="">
        </div>
      </div>
    </div>
  </div>
  <div class="row feed">
  </div>
</div>
